/*  your css code here. If applicable */
body {
	background-color: black;
}

.container {
	display: grid;
	grid-template-columns: repeat(40, 30px);
	grid-template-rows: repeat(20, 30px);
	gap: 5px;
}

.square {
	/* height: 30px;
	widows: 30px; */
	background-color: rgb(29,29,29);
	border: 1px solid #3c3c3c;
}
